spring.application.name=backend

spring.datasource.url=jdbc:postgresql://localhost:5432/inventory_saas
spring.datasource.username=TU_USUARIO
spring.datasource.password=TU_PASSWORD

spring.jpa.show-sql=true